# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Compilados
dist/
build/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Cache
.cache/
.temp/
tmp/

# Testing
coverage/